@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply h-full overflow-hidden m-0 p-0;
  }

  #app {
    @apply h-full overflow-hidden;
  }

  body {
    @apply bg-surface-950 text-slate-100 font-sans antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface-900/60 backdrop-blur-xl border border-surface-700/50 shadow-2xl;
  }
}